
<div class="container-fluid    bg-dark    text-white pt-5" >
<footer>

<div class="row">
  <div class="col-sm-4  address d-flex flex-column ">
    <div class="information">
      <h6 class=" lead text-info"> Información de Contacto</h6>
    </div>
    <div class="address">
            <span class="lead"><i class="fas fa-map-marker-alt pr-4" style="color:#07a4a1"></i></span>
            <span class="lead ">Medellín Antioquía</span>
    </div>
    <div class="Contact">
        <span class="lead"><i class="fas fa-phone-square pr-4" style="color:#07a4a1"></i></span>
        <span class="lead ">+57 301 601 81 45</span>
    </div>
    <div class="Email">
        <span class="lead"><i class="far fa-envelope pr-4" style="color:#07a4a1"></i></span>
        <span class="lead "> hbravoal@gmail.com</span>
    </div>
  </div>
  <div class="col-sm-4 social d-flex flex-column ">
      <div class="information">
        <h6 class=" lead text-info"> Redes Sociales y más información</h6>
      </div>
      <div class="Link">
        <a href="">
            <span class="lead text-white"><i class="fab fa-linkedin pr-4"></i></span>
            <span class="lead text-white">Linkend</span>
        </a>

      </div>
      <div class="Facebook">
        <a href="">
          <span class="lead text-white"><i class="fab fa-facebook-square pr-4"></i></span>
          <span class="lead text-white">Facebook</span>
        </a>
      </div>
      <div class="OtherWeb">
        <a href="" >
            <span class="lead text-white"><i class="fas fa-blog pr-4"></i></span>
            <span class="lead text-white "> Otro Sitio Web</span>
        </a>

      </div>
    </div>
    <div class="col-sm-4 social d-flex flex-column ">
        <div class="information">
          <h6 class=" lead text-info"> Repositorios y Aportes</h6>
        </div>
        <div class="Github">
          <a href="">
              <span class="lead"><i class="fab fa-github-alt pr-4"></i></span>
              <span class="lead text-white">GitHub</span>
          </a>

        </div>
        <div class="Git">
          <a href="">
            <span class="lead"><i class="fab fa-git  pr-4"></i></span>
            <span class="lead text-white">GitLab</span>
          </a>
        </div>
        <div class="Visual">
          <a href="" >
              <span class="lead"><i class="fas fa-code-branch pr-4"></i></span>
              <span class="lead text-white "> Visual Studio</span>
          </a>

        </div>
      </div>

</div>
<div class="row text-center pt-4">
<div class="col-12">
    <p class="text-center h6">Todo los derechos reservados.</p>
</div>
</div>
</footer>

</div>
