
<app-slider></app-slider>

<p class="text-center h4 text-info pt-2">Tecnologías</p>
<div class="container-fluid pt-5 mb-0">
  <div class="row">
    <div class="col-12 col-sm-6  col-md-4">
      <div class="h1 text-center">
          <i class="fas fa-desktop text-info"></i>
          <h6 class="text-info text-muted">  Web</h6>
      </div>
      <div class="text-left">
          <span class=""> <small><i class="fas fa-check"></i> Desarrollo Web con Asp Net Mvc 5, Entity Framework | Subsonic</small> </span><br>
          <span class=""> <small><i class="fas fa-check"></i> Desarrollo Web Full Stack (Angular 6|7, Bootstrap, Jquery</small> </span><br>
          <span class=""> <small><i class="fas fa-check"></i> Desarrollo de API Rest </small> </span><br>
      </div>

    </div>

    <div class="col-12  col-sm-6 col-md-4  ">
        <div class="h1 text-center">

            <i class="fas fa-mobile-alt text-info"></i>
            <h6 class="text-info text-muted " >  Móvil Android/iOs</h6>
        </div>

        <div class="text-left">
            <span class=""> <small><i class="fas fa-check"></i> Desarrollo Multiplataforma con Xamarin Forms</small> </span><br>
            <span class=""> <small><i class="fas fa-check"></i>Acceso a funcionalidades y hadware del celular </small> </span><br>
            <span class=""> <small><i class="fas fa-check"></i> Uso de SQLite para utilizar el almacenamiento del dispotivio</small> </span><br>
            <span class=""> <small><i class="fas fa-check"></i>  Geolocalización con Google Maps</small> </span><br>
            <span class=""> <small><i class="fas fa-check"></i>  Notificaciones Push con Azure </small></span><br>
            <span class=""> <small><i class="fas fa-check"></i>  Patrón MVVM con la finalizad de optimizar el código y/o legibilidad.</small> </span><br>
        </div>

    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="h1 text-center">

            <i class="fab fa-dev text-info"></i>
            <h6 class="text-info text-muted"> Soporte </h6>
        </div>
        <div class="text-left">
            <span class=""> <small><i class="fas fa-check"></i> Soporte de aplicativos web, escritorio (C#, Asp Net Mvc, Web Form)</small> </span><br>
            <span class=""> <small><i class="fas fa-check"></i> Soporte nivel Base de datos (Informes, Triggers,SP's, Vistas) </small> </span><br>
            <span class=""> <small><i class="fas fa-check"></i>  Tareas programadas </small></span><br>
            <span class=""> <small><i class="fas fa-check"></i>  Uso de ETL's </small></span><br>
            <span class=""> <small><i class="fas fa-check"></i>  Arquitectura de Aplicaciones </small></span><br>
        </div>

    </div>
  </div>
</div>
<hr>
<p class="text-center h4 text-info">Mís Proyectos y/o participaciones</p>
<app-learn-more></app-learn-more>
<app-footer></app-footer>
