 <div class="container-fluid">

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background:#00589f;">


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <img src="assets/icon.png" alt="" width="50px;">
      <a class="navbar-brand" routerLink="/Home">Henry Bravo Almanza</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/Home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Curriculum">Curriculum</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Blog y Aportes
            </a>
            <div class="dropdown-menu text-center text-success " aria-labelledby="navbarDropdown" style="background: #4f96cf;">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white" href="#">Asp Net Mvc</a>
                <a class="dropdown-item text-white"   href="#">C# </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white" href="#">Xamarin Forms </a>
              </div>
            </li>

          </ul>
          <form class="form-inline my-2 my-lg-0">

            <button class="btn btn-outline-light   my-2 my-sm-0" type="submit">¡Conoce Más!</button>
          </form>
        </div>
      </nav>

    </div>
