<div class="container-fluid mt-5 mb-0" >
<div class="row ">
    <div class="col-12 col-sm-6 col-md-4 ">
        <div class="card">
            <img src="assets/Helper.PNG" alt="Helper Aplications" class="card-img-top border border-success" height="200px">
          <div class="card-body" style="background:#daeeff;"  >
            <p class="card-title text-info h6 text-center">        Aplicación de Soporte</p>
            <p class="card-text lead ">
              <small><i class="fas fa-check"></i>Desarrollo Web para uso interno. Consulta de información sensible, con soporte de usuarios, roles.</small>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
          <div class="card">
              <img src="assets/tiendacontent.PNG" alt="Helper Aplications" class="card-img-top border border-success"  height="200px">
            <div class="card-body" style="background:#daeeff;">
              <p class="card-title text-info h6 text-center">Aplicación Web Tienda Content</p>
              <p class="card-text lead ">
                <small><i class="fas fa-check"></i>Mejoras para sitio TiendaContent. Parte Back-End y Fron-End.</small>
              </p>
            </div>
          </div>
        </div><div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img src="assets/Ganatón.PNG" alt="Helper Aplications" class="card-img-top border border-success"  height="200px">
              <div class="card-body" style="background:#daeeff;">
                <p class="card-title text-info h6 text-center">Aplicación Web Tienda Content</p>
                <p class="card-text lead ">
                  <small><i class="fas fa-check"></i>Desarrollo Web Ganatón de Premios, desarrollando la parte Back-End.</small>
                </p>
              </div>
            </div>
          </div>

</div>

<div class="row  py-5">
    <div class="col-12">
        <div class="">
            <p class="text-center h4 text-info pt-2">Conoce todo mís aportes y/ o proyectos personales.</p>

            <p class="lead"><small>A su vez, aprende nuevas tecnologías que podrías necesitar y/o implementar para mejorar tú sitio.</small></p>

            <div class="row d-flex justify-content-center align-items-center flex-column">

                <img class="border" src="assets/teso_logo.png" alt="About Me" width="400px" height="200px" >
                <a href="#" class="w-20 btn btn-primary">¡ Conoce Más Aquí</a>

            </div>
          </div>
    </div>
</div>

</div>
