

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleControls" data-slide-to="1"></li>

    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/wallpaper.jpeg" class="d-block w-100" alt="Slider 1" >
        <div class="carousel-caption d-none d-md-block">
            <h5 class="text-white lead"> Dispotivimos Móviles </h5>
            <p> Aplicaciones Móviles para Android y iOs utilizando e aprovechando cada componente del celular.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/wallpaper2.jpg" class="d-block w-100" alt="Slider 2">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-white lead"> Web</h5>
          <p>Desarrollo de Interfaces agradables, sencillas e optimas.  Integradas con Angualr V6 o V7</p>
          <p>Desarrollo de Api Rest  y sitios Web con tecnología SPA (Single Page Application) </p>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>


